*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    color: white;

}
.main{
  display: grid;
  width: 100vw;
  height: 100vh;
  grid-template-columns: auto;
  grid-template-rows: auto auto auto;
  background-image: linear-gradient( #F2994A, #F2C94C);
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;  
}
.dark_mode{
  display: grid;
  width: 100vw;
  height: 100vh;
  grid-template-columns: auto;
  grid-template-rows: auto auto auto;
  background-image: linear-gradient( #bdc3c7, #2c3e50);
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;  
}



.header{
    width: 100%;
    background-color: transparent;
    overflow: auto;
}

.header ul{
    list-style-type: none;
    background-color: rgba(0,0,0, 0.3); 
    color: white;
    font-weight: bold;
    border: 3px solid #f1f1f1;
    position: absolute;
    top: 15%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    width: 80%;
    text-align: center;
}
.header a{
    float: left;
    margin-top: 0;
    color: white;
    text-decoration: none;
    font-size: 20px;
    width: 33.33%;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    padding: 25px;

}
div.header img{
    width: 25px;
    height: 25px;
    margin-right: 5px; 
    vertical-align: middle; /* Zentriert das Bild vertikal */
}


.header li a:hover{
    background-color: rgba(0,0,0, 0.4);
    color: wheat;
}
@media screen  and (max-width: 500px) {
    div.header a { 
        float: none;
        text-wrap: nowrap;
        display: block;
        width: 100%;
        text-align: center;
    }
}
div.content {
    display: flex;
    flex-direction: column-reverse;
    flex-wrap: wrap;
    align-content: stretch;
    justify-content: space-evenly;
    align-items: center;}

div.content img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: fit-content;
    height: 300px;
    border-radius: 50%;
}
div.content h1{
    color: white;
}



.switch {
    position: absolute;
    right: 15px;
    bottom: 15px;
    display: inline-block;
    width: 60px;
    height: 34px;
  }
  .switch input {
    opacity: 0;;
    width: 0;
    height: 0;
  }
  
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .3s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 30px;
    width: 30px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: #2196F3;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
  
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }

div.copyright {
    position: absolute;
    bottom: 1%;
    color: white;
    margin-right: 10px; 
}
div.copyright p{
    margin-left: 10px;
}

.switchDescription{
  position: absolute;
  right: 70px;
  bottom: 5px;
}
