*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


div.header{
    width: 100%;
    background-color: white;
    overflow: auto;
}

div.header ul{
    list-style-type: none;
    padding: 0%;
    margin: 0%;
    background-color: whitesmoke;
}
div.header a{
    float: left;
    padding: 12px;
    margin-top: 0;
    color: black;
    text-decoration: none;
    font-size: 17px;
    width: 33.33%;
    text-align: center;
}
div.header li a:hover{
    background-color: #555;
    color: white;
}
@media screen  and (max-width: 500px) {
    div.header a { 
        float: none;
        display: block;
        width: 100%;
        text-align: left;
    }
}

div.content img{
    vertical-align: middle;
    width: 100px;
    height: 100px;
    border-radius:50%;
}

div.footer {
    position: absolute;
    bottom: 0%;
    width: 100%;
    height: 2.5rem;
    background-color: aqua ;
}

